[Unit]
Description=Posdater Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/dev/Postdater
ExecStart=/usr/bin/python3 services/telegram_bot.py
Restart=always

[Install]
WantedBy=multi-user.target